@model IEnumerable<InmoNovara.Models.Propietario>

@{
    ViewData["Title"] = "Propietario";
}

<h1>Inicio @ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crear Nuevo Propietario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Id" title="Editar"><i class="fas fa-pencil-alt"></i></a>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                }
                <a class="btn btn-info" asp-action="Detalles" asp-route-id="@item.Id" title="Detalles"><i class="fas fa-book"></i></a>
                <a class="btn btn-success" asp-action="Propiedades" asp-route-id="@item.Id" title="Propiedades"><i class="fas fa-home"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
